#appLogo {
    -fx-font-family: "Inter Display", sans-serif;
    -fx-font-weight: 500;
}

.sidebarPane {
    -fx-background-color: #f3f4ed;
    -fx-min-width: 220;
    -fx-min-height: 100%;
}


.material-container {
    -fx-border-color: rgba(0, 0, 0, 0.08);
    -fx-border-width: 0 0 1 0;
    -fx-padding: 5 0 5 0;
}

.table-view-home {
    -color-header-bg: -color-bg-default;
}

.table-view-home > .column-header-background .column-header {
    -fx-border-width: 0 0 1 0;
}

.headline-container {
    -fx-padding: 15 0 15 30;
}

.headline {
    -fx-font-size: 3.5em;
    -fx-font-weight: 600;
}

.sub-headline {
    -fx-font-size: 1.3em;
}

.section-container {
    -fx-max-width: Infinity;
}

.section-headline {
    -fx-padding: 0 0 18 0;
 }

.section-content {
    -fx-padding: 0 0 10 0;
}

.home-user-container {
    -fx-padding: 15 30 15 30;
}

.search-container {
    -fx-padding: 25 0 0 0;
}

.modal-box {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}