#appLogo {
    -fx-font-family: "Inter Display", sans-serif;
    -fx-font-weight: 500;
}

#contentPane {
    -fx-padding: 15px;
}

#sidebarPane {
    -fx-background-color: #f3f4ed;
}

.material-container {
    -fx-border-color: rgba(0, 0, 0, 0.08);
    -fx-border-width: 0 0 1 0;
    -fx-padding: 5 0 5 0;
}